* {
	background: none;
	margin: 0;
	padding: 0;
}
:root {
	--border-big: 0.2em;
	--border-small: 0.15em;
	--border-thick: 0.3em;
	--border-thin: 0.1em;
	--box-big: 18vw;
	--box-small: 8vw;
	--color-background: #111;
	--color-light: #eee;
}
html ,
input {
	background: none;
	border: none;
	color: var(--color-light);
}
html {
	background: var(--color-background);
	font-family: 'Sans', sans-serif;
}
body {
	background: var(--color-background);
	padding: 4rem;
	padding-top: 10%;
	position: relative;
}
canvas[wav] {
	background: var(--color-background);
	border: solid var(--border-thin) var(--color-light);
	display: block;
	height: 7em;
}
.disabled b {
	text-decoration: line-through;
}
[settings] {
	bottom: 0;
	position: fixed;
}
[settingsToggle]:hover,
select:hover {
	cursor: pointer;
}
[statusbar] {
	display: flex;
	left: 0;
	padding-top: 2em;
	position: fixed;
	top: 0;
	width: 100%;
}
[statusbar] * {
	flex-grow: 100%;
	height: 10%;
	margin: 0 5%;
	max-height: 2em;
}
[vital] {
	border: solid var(--border-thin) var(--color-light);
	border-radius: 0.5rem;
	display: block;
	height: var(--box-big);
	position: relative;
	vertical-align: top;
	width: var(--box-big);
}
[vital] b {
	left: 0;
	position: absolute;
	top: 0;
}
[vital] input {
	bottom: 0;
	font-size: 350%;
	font-weight: bold;
	height: 100%;
	position: relative absolute;
	right: 0;
	text-align: center;
	width: 100%;
}
[sub][vital] {
	display: inline-block;
	height: var(--box-small);
	width: var(--box-small);
}
[sub][vital] input {
	font-size: 150%;
}
[wav] {
	float:left;
	height: 7em;
}
[vital],
[sub][vital] {
	background: var(--color-background);
	height:7em;
	width:10em;
}
.hide,
.hidden {
	display: none;
}
.hr,
.hr * {
	color: #4e4;
}
.spo2,
.spo2 * {
	color: #4ee;
}
.rr,
.rr * {
	color: #eee;
}
.nibp,
.nibp * {
	color: #e44;
}
.nibp input {
	font-size: 180%;
}
.vitals-numbers,
.vitals-waveforms {
	display: inline;
	top: 0;
	width: 80%;
}
.vitals-numbers {
	float: right;
	width: 20%;
}
.vitals-waveforms {
	float: left;
}
.vitals-waveforms * {
	width: 100%;
}
